<html>
    <head>
       <title>Form Test Index</title>
    </head>
	<body>
      <h1>Index Page</h1>
      <h3>Create a User</h3>
      <!-- read on to learn about form actions, we'll talk about the method in a later section -->
      <form action='result' method='post'>
          Your Name: <input type='text' name='name'>
          Dojo Location: <input type='text' name='dojo'>
          Favorite Language: <input type='text' name='lang'>
          <input type='submit' value='Submit'>
      </form>
    </body>
</html>